# .coveragerc to control coverage.py
[run]
source = linearmodels
branch = True
omit =
    */results/*
    */_version.py
    */conftest.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except NotImplementedError
    raise ImportError

    # Ignore failure messages
    pytest.xfail
    # Ignore ImportError protection
    except ImportError

    # Ignore pass
    pass

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Ignore type checking code
    if TYPE_CHECKING

    # Cython function declarations
    cdef

ignore_errors = True
