global-include *.csv *.py *.dta *.ipynb *.png

recursive-include doc/source *
recursive-include linearmodels/tests *.txt *.csv
recursive-include linearmodels/datasets *.csv.bz
recursive-include examples *
include versioneer.py
include linearmodels/_version.py
include README.rst
include README.md
include requirements.txt
include requirements-dev.txt
include examples/*.ipynb
include examples/*.png
