[build-system]
requires = [
  "setuptools>=61",
  "wheel",
  "setuptools_scm[toml]>=7,<8",
  "oldest-supported-numpy",
  "numpy; python_version>='3.12'",
  "cython>=0.29.34"
]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ['py39', 'py310', 'py311']
exclude = '''
(
    \.egg
  | \.git
  | \.mypy_cache
  | \.oytest_cache
  | _build
  | buck-out
  | build
  | dist
)
'''

[tool.setuptools_scm]
write_to = "linearmodels/_version.py"
