black[jupyter]~=25.9.0
coverage
flake8
isort
colorama
matplotlib
pytest>=8.4.1,<9
pytest-xdist
pytest-cov
pytest-randomly
seaborn
xarray>=0.13
wheel
pyarrow
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
