black[jupyter]==23.11.0
coverage
flake8
isort
colorama
matplotlib
pytest>=7.3.0
pytest-xdist
pytest-cov
seaborn
xarray>=0.13
wheel
pyarrow
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
