numpy>=1.14
pandas>=0.22
scipy>=1
patsy
statsmodels>=0.9
xarray>=0.9
patsy
property_cached>=1.6.3
pytest>=5
sphinx
sphinx-material
ipython
nbsphinx
nbconvert
nbformat
matplotlib
seaborn
mypy_extensions>=0.4
