ipython
matplotlib
jupyter
nbconvert
nbformat
nbsphinx
numpydoc
pytest>=7.0,<7.1
pytest-xdist
pytest-cov
seaborn
sphinx >=5,<6
sphinx-material
sphinxcontrib-spelling
sphinx_autodoc_typehints
xarray>=0.13
wheel
mypy>=0.930
black[jupyter]==23.3.0
isort>=5.12
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
