ipython
matplotlib
jupyter
nbconvert<6
nbformat
nbsphinx
numpydoc
pytest>=6.0
pytest-xdist
pytest-cov
seaborn
sphinx
sphinx-material
sphinxcontrib-spelling
sphinx_autodoc_typehints
xarray>=0.13
wheel
