sphinx_immaterial
sphinx_autodoc_typehints
ipython
nbsphinx
sphinxcontrib.spelling
sphinx
jupyter
notebook
xarray>=0.16
nbformat
matplotlib
seaborn
mypy_extensions>=0.4
# mistune<2
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability