name: Build wheels

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '37 0 * * 2' # 2/weekly

jobs:
  build_wheels:
    name: ${{ matrix.os }}, Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        python: [cp310]
        os: [ubuntu-20.04, windows-2019]
    env:
      BUILD_COMMIT: "main"
      CIBW_BUILD: ${{ matrix.python }}-*
      CIBW_ARCHS_LINUX: "x86_64"
      CIBW_ARCHS_MACOS: "x86_64"
      CIBW_SKIP: "pp* *-musllinux_* *-win32"
      CIBW_TEST_REQUIRES: pytest pytest-xdist xarray matplotlib
      CIBW_TEST_COMMAND: python -c "import linearmodels; linearmodels.test(['--skip-examples','--skip-slow','-n','2'])"
      # Avoid testing on emulated architectures
      CIBW_REPAIR_WHEEL_COMMAND_LINUX: 'auditwheel repair --strip -w {dest_dir} {wheel}'
      MKL_NUM_THREADS: 1
      OMP_NUM_THREADS: 1
      OPENLAS_NUM_THREADS: 1

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.12.2

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse .
